html, body, h1, h2, h3, h4, p, table, tr, td, img, a, div {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  text-align: center;
  color: #003057;
  text-decoration: none; }

body {
  width: 100%; }

div {
  display: inline-block; }

.brochureLink {
  width: 280px;
  height: 280px;
  margin: 5px;
  transition: background-position .5s;
  background-color: lightblue; }
  .brochureLink a {
    display: inline;
    text-indent: -9999px; }

#cpo {
  background: url(inc/vehicleSprites/cpo.jpg) top left no-repeat;
  background-size: 560px 280px; }

#overseas {
  background: url(inc/vehicleSprites/overseas.jpg) top left no-repeat;
  background-size: 560px 280px; }

#s60 {
  background: url(inc/vehicleSprites/s60.jpg) top left no-repeat;
  background-size: 560px 280px; }

#s90 {
  background: url(inc/vehicleSprites/s90.jpg) top left no-repeat;
  background-size: 560px 280px; }

#sensus {
  background: url(inc/vehicleSprites/sensus.jpg) top left no-repeat;
  background-size: 560px 280px; }

#v60 {
  background: url(inc/vehicleSprites/v60.jpg) top left no-repeat;
  background-size: 560px 280px; }

#v60s60CC {
  background: url(inc/vehicleSprites/v60s60CC.jpg) top left no-repeat;
  background-size: 560px 280px; }

#v90 {
  background: url(inc/vehicleSprites/v90.jpg) top left no-repeat;
  background-size: 560px 280px; }

#xc60 {
  background: url(inc/vehicleSprites/xc60.jpg) top left no-repeat;
  background-size: 560px 280px; }

#xc90 {
  background: url(inc/vehicleSprites/xc90.jpg) top left no-repeat;
  background-size: 560px 280px; }

#cpo:hover {
  background-position: -280px 0; }

#overseas:hover {
  background-position: -280px 0; }

#s60:hover {
  background-position: -280px 0; }

#s90:hover {
  background-position: -280px 0; }

#sensus:hover {
  background-position: -280px 0; }

#v60:hover {
  background-position: -280px 0; }

#v60s60CC:hover {
  background-position: -280px 0; }

#v90:hover {
  background-position: -280px 0; }

#xc60:hover {
  background-position: -280px 0; }

#xc90:hover {
  background-position: -280px 0; }
